<div class="content">
  <header class="header">
    <div class="content wide">
      <img class="logo" src="/assets/images/icons/tw-icon.svg" />
      <button class="submit btn tweet">ツイート</button>
      <button class="submit btn default logout">ログアウト</button>
    </div>
  </header>
  <div class="hero">
    <div class="container"></div>
    <div class="app">
      <div class="avatar" style="background-image: url('/assets/images/icons/lion.svg');"></div>
    </div>
    <div class="nav">
      <ul class="items">
        <li class="item">
          <div class="label">ツイート</div>
          <div class="num">16,976</div>
        </li>
        <li class="item">
          <div class="label">フォロー</div>
          <div class="num">645</div>
        </li>
        <li class="item">
          <div class="label">フォロワー</div>
          <div class="num">1,329</div>
        </li>
        <li class="item">
          <div class="label">いいね</div>
          <div class="num">18,872</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="timeline">
    <div class="main">
      <div class="sidebar">
        <div class="profile">
          <h1 class="name"><%= @user.username %></h1>
          <h2 class="account"><%= "@#{@user.account}" %></h2>
          <div class="description"><%= @user.introduction %></div>
        </div>
      </div>
      <div class="content">

        <div class="tweet">
          <div class="content">
            <div class="avatar"><img class="img" src="/assets/images/icons/lion.svg" /></div>
            <div class="main">
              <div class="header">
                <div class="item name"><%= @user.username %></div>
                <div class="item account"><%= @user.account %></div>
                <div class="item date">2017年10月9日</div>
              </div>
              <div class="text">テストツイート</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
